main{
    background-color: #F3F5FC;
    min-height: 86.4vh;
    min-width: 90vw;
    position: relative;
}

.contenido{
    width: 100%;
}

#logo-alura{
    position: absolute;
    top: 40px;
    left: 50px;
}

#ingresar-texto{
    position: absolute;
    width: 38%;
    height: 40%;
    left: 15%;
    top: 100px;
    resize: none;
    font-size: 20px;
    background: none;
    border: none;
    color: #0A3871;
}

#zona-mensaje{
    background-color: white;
    width: 20%;
    height: 80%;
    display: inline-block;
    border-radius: 32px;
    position: absolute;
    right: 40px;
    top: 40px;
    padding: 50px;
}

.munieco{
    width: 70%;
}

.parrafo-zona{
    height: 20%;
    width: 100%;
    margin-top: 5%
}

#ocultar{
    text-align: center;
}

#texto-nuevo{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #495057;
    line-height: 150%;
    height: 90%;
}

#negritas{
    font-size: 30px;
    font-weight: bold;
}

#botones-texto{
    position: absolute;
    bottom: 40px;
    left: 15%;
    width: 50%;
    height: 20%;
}

#aviso{
    color: #495057;
    margin-bottom: 30px;
}

.boton{
    padding: 2% 15%;
    border-radius: 24px;
    border: none;
}

#encriptar{
    background-color: #0A3871;
    color: white;
}

#desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    margin-left: 30px;
}

#boton-copiar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    padding: 5% 15%;
    width: 100%;
    border-radius: 24px;
    text-align: center;
}

footer{
    min-height: 13.6vh;
    background-color: lightgray;
    text-align: center;
}

footer p{
    padding: 15px;
}

footer img{
    margin: 10px;
    height: 50px;
}

@media screen and (max-width:768px){
    .contenido{
        padding: 7%;
    }
    #zona-mensaje, #botones-texto, #logo-alura, #ingresar-texto{
        position: static;
        display: block;
        margin-bottom: 5em;
    }

    #texto-nuevo{
        height: 80%;
    }
    
    #boton-copiar{
        padding: 2% 15%;
    }

    #zona-mensaje{
        padding:1em;
        position: static;
        display: block;
        width: 80%;
        height: 20em;
    }

    #ingresar-texto{
        width: 80%;
        height: 20em;
    }
    #botones-texto{
        width: 100%;
    }
    .munieco{
        display: none;
    }
}

@media screen and (max-width:480px){
    .contenido{
        padding: 7%;
    }
    #botones-texto, #logo-alura, #ingresar-texto{
        position: static;
        display: block;
        margin-bottom: 5em;
    }

    #zona-mensaje{
        padding:1em;
        position: static;
        display: block;
        width: 80%;
        height: 20em;
    }

    #texto-nuevo{
        height: 80%;
    }

    #ingresar-texto{
        width: 80%;
        height: 20em;
    }
    #botones-texto{
        width: 100%;
    }
    .boton{
        width: 85%;
        padding: 5% 0;
        display: block;
    }
    .munieco{
        display: none;
    }

    #desencriptar{
        margin: 5% 0 0 0
    }
}